@use "@styles/abstracts/colors/palette";
@use "@styles/abstracts/font/sizes" as font-sizes;
@use "@styles/abstracts/mixins/font-size";
@use "@styles/abstracts/mixins/flex";
@use "@styles/abstracts/mixins/main-container";
@use "@styles/abstracts/mixins/gradient-text";

#about-game {
    @include flex.flex($direction: column, $justify: center, $row: 25);
    @include main-container.full-screen;
    @include main-container.container(0, 0);
    background-color: palette.$primary;

    .text-container {
        @include flex.flex($direction: column, $row: 10);
        width: 90%;

        .title {
            @include gradient-text.animated-gradient-text(palette.$aquamarine);
            @include font-size.set-font-size(font-sizes.$heading, "large");
            font-weight: 800;
        }

        .content {
            color: palette.$white;
            font-weight: 500;
            @include font-size.set-font-size(font-sizes.$text);
        }
    }

    .image-container {
        position: relative;
        display: grid;
        place-items: center;

        .phone-frame {
            background-color: palette.$white;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        .mode-container {
            transition: 1s;
        }
    }

    @media (orientation: portrait) {
        .title {
            text-align: center;
        }

        .image-container {
            width: 95%;
            height: 55%;

            .phone-frame {
                width: 45%;
                height: 90%;
                border-radius: 20px;
            }

            .mode-container.animate {
                &:nth-of-type(1) {
                    top: 5%;
                    left: 12%;
                }
                &:nth-of-type(2) {
                    top: -5%;
                    left: 60%;
                }
                &:nth-of-type(3) {
                    top: 25%;
                    left: 75%;
                }
                &:nth-of-type(4) {
                    top: 50%;
                    left: 3%;
                }
                &:nth-of-type(5) {
                    top: 65%;
                    left: 65%;
                }
                &:nth-of-type(6) {
                    top: 80%;
                    left: 25%;
                }
            }
        }
    }

    @media (orientation: landscape) {
        flex-direction: row;

        .text-container {
            align-items: flex-start;
            order: 1;
            width: min(50%, 720px);
        }

        .image-container {
            width: 45%;
            height: 100%;

            .phone-frame {
                width: unset;
                height: 60dvh;
                border-radius: min(12%, 36px);
            }

            .mode-container.animate {
                &:nth-of-type(1) {
                    top: 10%;
                    left: 18%;
                }
                &:nth-of-type(2) {
                    top: 3%;
                    left: 55%;
                }
                &:nth-of-type(3) {
                    top: 25%;
                    left: 72%;
                }
                &:nth-of-type(4) {
                    top: 45%;
                    left: 8%;
                }
                &:nth-of-type(5) {
                    top: 60%;
                    left: 62%;
                }
                &:nth-of-type(6) {
                    top: 78%;
                    left: 32%;
                }
            }
        }
    }
}