$text: (
    "sm": (
        "small": 8pt,
        "normal": 10pt,
        "medium": 12pt,
        "large": 15pt
    ),
    "md": (
        "small": 10pt,
        "normal": 12pt,
        "medium": 14pt,
        "large": 20pt
    ),
    "lg": (
        "small": 12pt,
        "normal": 16pt,
        "medium": 18pt,
        "large": 28pt
    )
);

$button: (
    "sm": (
        "normal": 12pt
    ),
    "md": (
        "normal": 10pt
    ),
    "lg": (
        "normal": 14pt
    )
);

$heading: (
    "sm": (
        "small": 16pt,
        "medium": 20pt,
        "normal": 24pt,
        "large": 21pt
    ),
    "md": (
        "small": 12pt,
        "medium": 14pt,
        "normal": 18pt,
        "large": 23pt
    ),
    "lg": (
        "small": 28pt,
        "medium": 30pt,
        "normal": 32pt,
        "large": 38pt
    )
);