$text: (
    "sm": (
        "large": 20pt
    ),
    "md": (
        "large": 15pt
    ),
    "lg": (
        "large": 30pt
    )
);

$button: (
    "sm": (
        "normal": 12pt
    ),
    "md": (
        "normal": 10pt
    ),
    "lg": (
        "normal": 15pt
    )
);

$heading: (
    "sm": (),
    "md": (),
    "lg": ()
);