@use "@styles/template";
@use "@styles/abstracts/colors/palette";
@use "@styles/abstracts/font/sizes" as font-sizes;
@use "@styles/abstracts/mixins/flex";
@use "@styles/abstracts/mixins/font-size";

.error-container {
    @include flex.flex($direction: column, $justify: center, $row: 50);
    width: 100vw;
    height: 100vh;
    padding: 5%;
    background-color: palette.$primary;

    .error-image {
        width: 100%;
    }

    .text-container {
        @include flex.flex($direction: column, $justify: center, $row: 25);

        .message {
            text-align: center;
            color: palette.$secondary-white;
            @include font-size.fontSize(font-sizes.$text, "large");
        }

        .redirect-btn {
            width: min(50%, 150px);
            padding: 7px;
            border-radius: 50px;
            background-color: palette.$accent;
            color: palette.$white;
            @include font-size.fontSize(font-sizes.$button);
            font-weight: 600;
        }
    }

    @media screen and (orientation: landscape) {
        .error-image {
            width: unset;
            height: 50%;
        }
        .text-container {
            row-gap: 20px;
        }
    }

    @media (orientation: landscape) and (min-width: 1000px) {
        row-gap: 80px;

        .text-container {
            row-gap: 30px;
        }
    }
}