@use "@styles/abstracts/colors/palette";
@use "@styles/abstracts/mixins/display";
@use "@styles/abstracts/mixins/main-container";

.tab-container {
    @include display.flex($direction: column, $row: 30);
    width: 100%;
    min-height: 100%;
    @include main-container.container(0, 0);
    background-color: palette.$primary;
}