@mixin toggle-fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin toggle-fade-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fade {
    @include toggle-fade;
}
@-moz-keyframes fade {
    @include toggle-fade;
}
@keyframes fade {
    @include toggle-fade;
}

@-webkit-keyframes fade-up {
    @include toggle-fade-up;
}
@-moz-keyframes fade-up {
    @include toggle-fade-up;
}
@keyframes fade-up {
    @include toggle-fade-up;
}