@mixin toggle-fade {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fade {
    @include toggle-fade;
}
@-moz-keyframes fade {
    @include toggle-fade;
}
@keyframes fade {
    @include toggle-fade;
}