@use "@styles/abstracts/colors/primary";
@use "@styles/abstracts/font/sizes" as font-sizes;
@use "@styles/abstracts/mixins/display";
@use "@styles/abstracts/mixins/font-size";
@use "@styles/animations/fade";

.content {
    position: absolute;
    @include display.flex($direction: column);
    display: none;
    width: 100%;
    height: 100%;

    &.show {
        display: flex;

        .text-container {
            $fade-up-animation: fade-up 1s;
            
            -webkit-animation: $fade-up-animation;
            -moz-animation: $fade-up-animation;
            animation: $fade-up-animation;
        }

        .image {
            $fade-animation: fade 1s;
            
            -webkit-animation: $fade-animation;
            -moz-animation: $fade-animation;
            animation: $fade-animation;
        }
    }

    .text-container {
        @include display.flex($direction: column, $align: flex-start, $row: 5);
        
        .title {
            @include font-size.set-font-size(font-sizes.$heading, "medium");
            font-weight: 700;
            color: primary.$white;
        }
        
        .body {
            @include font-size.set-font-size(font-sizes.$text);
            color: primary.$secondary-white;
        }
    }

    .image {
        object-fit: contain;
    }

    @media (orientation: portrait) {
        .image {
            width: 100%;
            height: 70%;
        }
    }

    @media (orientation: landscape) {
        flex-direction: row;
        justify-content: space-between;


        &:first-of-type {
            align-items: flex-end;
        }
        &:last-of-type {
            align-items: flex-start;
        }

        .text-container {
            width: 50%;
        }

        .image {
            width: 45%;
            height: 100%;
        }
    }
}