@use "sass:map";

@mixin set-font-size($type, $size: "normal") {

    @media (orientation: portrait) {
        font-size: map.get($type, "sm", $size);
    }

    @media (orientation: landscape) and (max-width: 999px) {
        font-size: map.get($type, "md", $size);
    }

    @media (orientation: landscape) and (min-width: 1000px) {
        font-size: map.get($type, "lg", $size);
    }
}