@use "@styles/abstracts/functions/gradient";
@use "@styles/animations/gradient" as animation;

@mixin gradient-text($gradient, $direction: 90) {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: gradient.linearGradient($gradient, $direction);
}

@mixin animated-gradient-text($gradient) {
    $gradient-animation: animation 1s ease-in-out infinite alternate;

    @include gradient-text($gradient);
    -webkit-animation: $gradient-animation;
    -moz-animation: $gradient-animation;
    animation: $gradient-animation;
    background-size: 150% 150%;
}