@use "@styles/abstracts/functions/gradient" as createGradient;
@use "@styles/abstracts/mixins/animation";
@use "@styles/animations/gradient";

@mixin gradient-text($gradient, $direction: 90) {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: createGradient.linearGradient($gradient, $direction);
}

@mixin animated-gradient-text($gradient) {
    @include gradient-text($gradient);
    @include animation.animate(gradient-keyframes 1s ease-in-out infinite alternate);
    background-size: 150% 150%;
}