@use "@styles/abstracts/colors/palette";
@use "@styles/abstracts/mixins/flex";

.nav-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: palette.$primary;
    
    .nav-list {
        @include flex.flex($justify: space-evenly);
        height: 100%;
        list-style-type: none;
    }

    @media (orientation: landscape) {
        top: 0;
        padding: 0 5%;

        &.at-top {
            background-color: transparent;
        }

        .nav-list {
            justify-content: flex-end;
            column-gap: 25px;
        }
    }
}