@use "@styles/abstracts/colors/palette";
@use "@styles/abstracts/font/sizes" as font-sizes;
@use "@styles/abstracts/mixins/display";
@use "@styles/abstracts/mixins/font-size";
@use "@styles/abstracts/mixins/gradient-text";

@mixin bottom-nav-link($order, $gradient) {
    order: $order;

    .link-text {
        @include gradient-text.gradient-text($gradient, 100);
    }
}

.nav-item {
    flex: 1;

    .nav-link {
        @include display.flex($direction: column, $justify: center, $row: 5);
        height: 100%;

        .link-text {
            @include font-size.set-font-size(font-sizes.$text, "small");
            font-weight: 600;
        }
    }

    @media (orientation: portrait) {
        height: 100%;

        .nav-link:not(.router-link-active) {
            filter: grayscale(1);
        }

        .link-icon {
            display: block;
            width: 24px;
            aspect-ratio: 1;
        }

        &.home {
            @include bottom-nav-link(1, palette.$fire);
        }

        &.help {
            @include bottom-nav-link(0, palette.$grass);
        }

        &.info {
            @include bottom-nav-link(2, palette.$water);
        }
    }

    @media (orientation: landscape) {
        flex: unset;

        .router-link-active .link-text {
            text-shadow: 0 0 7px palette.$accent;
            transition: 400ms;
        }

        .link-icon {
            display: none;
        }

        .link-text {
            position: relative;
            color: palette.$white;
            transition: 400ms;

            &::before {
                content: '';
                position: absolute;
                top: 100%;
                left: -10%;
                width: 120%;
                height: 3px;
                background-color: palette.$accent;
                transform: scaleX(0);
                transition: 400ms;
            }
            
            &:hover::before {
                transform: scaleX(1);
                box-shadow: 0 0 5px palette.$accent;
            }
        }
    }
}