@use "@styles/abstracts/colors/palette";
@use "@styles/abstracts/mixins/flex";
@use "@styles/abstracts/mixins/gradient-text";

@mixin bottom-nav-link($order, $gradient) {
    order: $order;

    .link-text {
        @include gradient-text.gradientText($gradient, 100);
    }
}

.nav-item {
    flex: 1;

    .nav-link {
        @include flex.flex($direction: column);
    }

    @media (orientation: portrait) {
        .link-icon {
            display: block;
        }

        &.home {
            @include bottom-nav-link(1, palette.$fire);
        }

        &.help {
            @include bottom-nav-link(0, palette.$grass);
        }

        &.info {
            @include bottom-nav-link(2, palette.$water);
        }
    }

    @media (orientation: landscape) {
        flex: unset;

        .link-icon {
            display: none;
        }

        .link-text {
            color: palette.$white;
            text-shadow: 0 0 10px palette.$accent;
        }
    }
}