@use "@styles/abstracts/colors/palette";
@use "@styles/abstracts/font/sizes" as font-sizes;
@use "@styles/abstracts/mixins/font-size";
@use "@styles/abstracts/mixins/flex";
@use "@styles/abstracts/mixins/main-container";
@use "@styles/abstracts/mixins/gradient-text";

#about-game {
    @include flex.flex($direction: column, $justify: center, $row: 25);
    @include main-container.full-screen;
    @include main-container.container(0, 0);
    background-color: palette.$primary;

    .text-container {
        @include flex.flex($direction: column, $row: 10);
        width: 90%;

        .title {
            @include gradient-text.animated-gradient-text(palette.$aquamarine);
            @include font-size.set-font-size(font-sizes.$heading, "large");
            font-weight: 800;
        }

        .content {
            color: palette.$white;
            font-weight: 500;
            @include font-size.set-font-size(font-sizes.$text);
        }
    }

    .image-container {
        position: relative;
        display: grid;
        place-items: center;

        .phone-frame {
            width: 55%;
            background-color: palette.$white;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 30px;
        }
    }

    @media (orientation: portrait) {
        .title {
            text-align: center;
        }

        .image-container {
            width: 95%;
        }
    }

    @media (orientation: landscape) {
        flex-direction: row;

        .text-container {
            order: 1;
            width: 50%;
        }
    }
}