@use "@styles/abstracts/colors/primary";
@use "@styles/abstracts/font/sizes" as font-sizes;
@use "@styles/abstracts/font/family" as font-families;
@use "@styles/abstracts/mixins/flex";
@use "@styles/abstracts/mixins/main-container";
@use "@styles/abstracts/mixins/font-size";

.header {
    position: relative;
    @include flex.flex($direction: column, $justify: center);
    @include main-container.full-screen;
    @include main-container.max-width-padding;
    background-image: url("images/home/header/background.png");
    background-size: cover;
    background-position: center;

    .content-container {
        @include flex.flex($direction: column, $justify: center, $row: 25);

        .title {
            @include flex.flex($direction: column, $row: 10);

            .logo {
                width: 200px;
                object-fit: contain;
            }

            .game-name {
                font-family: font-families.$facon;
                color: primary.$white;
                @include font-size.set-font-size(font-sizes.$heading);
            }
        }

        .description {
            @include flex.flex($direction: column, $row: 10);
            color: primary.$white;

            .heading {
                @include font-size.set-font-size(font-sizes.$heading, "small");
                text-shadow: 0 0 10px primary.$accent;
                font-weight: 700;
                text-transform: uppercase;
            }

            .content {
                @include font-size.set-font-size(font-sizes.$text, "small");
            }
        }

        .cta-container {
            @include flex.flex($direction: column, $row: 10, $col: 25);
            width: 90%;

            .link-btn {
                color: primary.$accent;
                transition: 400ms;
                
                &:hover, &:focus {
                    box-shadow: 0 0 7px primary.$accent;
                }

                &.play-now-btn {
                    border-color: primary.$white;
                    background-color: primary.$white;
                    
                    &:hover, &:focus {
                        border-color: primary.$accent;
                    }
                }
                
                &.know-more-btn {
                    border-color: primary.$accent;
                    
                    &:hover, &:focus {
                        background-color: primary.$primary;
                    }
                }
            }
        }
    }

    .decoration-image {
        width: 100%;
        object-fit: contain;
    }

    @media (orientation: portrait) {
        padding-bottom: 50px;


        .cta-container {
            position: absolute;
            bottom: 2.5%;

            .link-btn {
                width: 100%;
            }
        }

        .decoration-image {
            height: 50%;
        }
    }

    @media (orientation: landscape) {
        flex-direction: row;

        .content-container {
            justify-content: space-evenly;
            align-items: flex-start;
            width: 50%;
            height: 80%;

            .description {
                align-items: flex-start;
            }

            .cta-container {
                flex-direction: row;
                width: 100%;
            }
        }

        .decoration-image {
            width: 45%;
            height: 100%;
        }
    }
    
    @media (orientation: landscape) and (max-width: 999px) {
        .title .logo {
            height: 60px;
        }
    }
    
    @media (orientation: landscape) and (min-width: 1000px) {
        .link-btn {
            width: max(30%, 200px);
        }
    }

}