@use "@styles/abstracts/colors/palette";
@use "@styles/abstracts/font/sizes" as font-sizes;
@use "@styles/abstracts/mixins/font-size";
@use "@styles/abstracts/mixins/display";
@use "@styles/abstracts/mixins/main-container";
@use "@styles/abstracts/functions/gradient";
@use "@styles/animations/spin";

#multiplayer {
    position: relative;
    @include display.flex($direction: column, $justify: center, $row: 30);
    @include main-container.full-screen;
    @include main-container.container(0, 5%);
    background-image: gradient.linearGradient(palette.$tanzanite, $opacity: 0.3);
    overflow: hidden;

    &::before {
        $spin-animation: spin-keyframes 10s ease-in-out infinite alternate;

        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("@images/home/multiplayer/background.png");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-animation: $spin-animation;
        -moz-animation: $spin-animation;
        animation: $spin-animation;
    }

    * {
        z-index: 1;
    }

    .title {
        color: palette.$primary;
        @include font-size.set-font-size(font-sizes.$heading, "large");
        text-align: center;
        font-weight: 800;
    }

    .image {
        width: 100%;
        object-fit: contain;
    }

    .text-conainer {
        @include display.flex($direction: column, $row: 10);

        .mode {
            @include display.flex($direction: column, $row: 5);

            .sub-title {
                width: 100%;
                color: palette.$primary;
                @include font-size.set-font-size(font-sizes.$heading, "small");
                font-weight: 700;
            }
            
            .description {
                color: palette.$secondary;
                @include font-size.set-font-size(font-sizes.$text);
                font-weight: 600;
            }
        }
    }

    @media (orientation: portrait) {
        &::before {
            background-size: 90% auto;
        }
    }

    @media (orientation: landscape) {
        row-gap: 10px;

        &::before {
            background-size: auto 80%;
        }

        .image {
            height: 45dvh;
        }

        .text-conainer {
            flex-direction: row;
            justify-content: space-between;

            .mode:last-of-type {
                text-align: end;
            }
        }
    }

    @media (orientation: landscape) and (min-width: 1000px) {
        .text-conainer {
            width: min(800px, 100%);

            .mode {
                width: min(50%, 480px);
            }
        }
    }
}