@use "sass:map";
@use "@styles/abstracts/colors/palette";
@use "@styles/abstracts/font/sizes" as font-sizes;
@use "@styles/abstracts/mixins/font-size";
@use "@styles/abstracts/mixins/display";
@use "@styles/abstracts/mixins/gradient-border";
@use "@styles/abstracts/mixins/animation";
@use "@styles/abstracts/functions/gradient" as createGradient;
@use "@styles/animations/gradient";

@mixin card-border($gradient) {
    box-shadow: 0 0 15px map.get($gradient, "start");
    background-image: createGradient.linearGradient($gradient);
}

.card {
    @include display.flex($justify: space-evenly);
    aspect-ratio: 2;
    padding: 10px;
    border-radius: 10px;
    @include gradient-border.gradient-border($gradient: linear-gradient(palette.$white, palette.$secondary), $border-radius: 7px);
    @include animation.animate(gradient-keyframes 1500ms ease-in-out infinite alternate);
    background-size: 200% 200%;
    transition: 400ms;
    transition-timing-function: ease-out;

    &.tent {
        animation-delay: 500ms;
    }
    &.tower {
        animation-delay: 1s;
    }

    &:hover {
        &.battle {
            @include card-border(palette.$grass);
        }
        &.tent {
            @include card-border(palette.$fire);
        }
        &.tower {
            @include card-border(palette.$water);
        }
    }

    .icon {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }

    .text-container {
        width: 70%;
        
        .sub-title {
            color: palette.$white;
            @include font-size.set-font-size(font-sizes.$heading, "small");
            font-weight: 600;
        }
        .description {
            color: palette.$secondary-white;
            @include font-size.set-font-size(font-sizes.$text, "small");
        }
    }

    @media (orientation: landscape) {
        flex-direction: column;
        width: 30%;

        .icon {
            width: min(10vh, 80px);
            height: min(10vh, 80px);
        }

        .text-container {
            width: 95%;
        }
    }

    @media (orientation: landscape) and (min-width: 1000px) {
        aspect-ratio: 1.25;
    }
}