@use "@styles/abstracts/colors/palette";
@use "@styles/abstracts/font/sizes" as font-sizes;
@use "@styles/abstracts/mixins/font-size";
@use "@styles/abstracts/mixins/display";
@use "@styles/abstracts/mixins/main-container";

#arcade-mode {
    position: relative;
    @include display.flex($direction: column, $justify: center, $row: 25);
    width: 100%;
    min-height: 100dvh;
    @include main-container.container(30px, 5%);
    background-color: palette.$primary;

    .text-container {
        @include display.flex($direction: column, $row: 5);
        width: 100%;

        .title {
            color: palette.$white;
            @include font-size.set-font-size(font-sizes.$heading, "large");
            text-align: center;
            font-weight: 800;
        }

        .content {
            color: palette.$secondary-white;
            @include font-size.set-font-size(font-sizes.$text);
            text-align: center;
        }
    }

    .event-container {
        @include display.flex($direction: column, $row: 15);
    }

    @media (orientation: landscape) {
        row-gap: 10dvh;

        .text-container {
            align-items: flex-start;
        }

        .event-container {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }
    }
}