@use "@styles/abstracts/colors/primary";
@use "@styles/abstracts/font/sizes" as font-sizes;
@use "@styles/abstracts/mixins/font-size";

.expansion-panel {
    width: 100%;
    background-color: primary.$secondary;
    color: primary.$white;
    border-radius: 7px;
    
    .question {
        display: block;
        width: 100%;
        padding: 10px 15px;
        @include font-size.set-font-size(font-sizes.$text);
        cursor: pointer;
        transition: 400ms;

        &::marker, &::-webkit-details-marker {
            display: none; 
            content: "";
        }
    }

    .answer {
        height: 0;
        padding: 0 20px;
        @include font-size.set-font-size(font-sizes.$text, "small");
        transform-origin: top;
        opacity: 0;
        transition: 400ms;
    }
    
    &.is-active {
        .question {
            background-color: primary.$white;
            color: primary.$primary;
            border-radius: 7px 7px 0 0;
        }

        .answer {
            height: auto;
            padding: 20px;
            opacity: 1;
        }
    }

}