@use "@styles/abstracts/colors/palette";
@use "@styles/abstracts/font/family" as font-families;
@use "@styles/abstracts/font/sizes" as font-sizes;
@use "@styles/abstracts/mixins/font-size";
@use "@styles/abstracts/mixins/display";
@use "@styles/abstracts/mixins/main-container";
@use "@styles/abstracts/mixins/gradient-border";
@use "@styles/abstracts/functions/gradient" as createGradient;

.footer-section {
    @include display.flex($direction: column, $row: 30);
    @include main-container.max-width-padding;
    @include main-container.container(max(25px, 10%));
    background-color: palette.$primary;

    .title {
        @include display.flex($direction: column, $row: 15);
        width: min(300px, 80vw);

        .logo {
            width: 100%;
            object-fit: contain;
        }

        .game-name {
            width: 100%;
            font-family: font-families.$facon;
            color: palette.$white;
            @include font-size.set-font-size(font-sizes.$heading);
            text-align: center;
        }

        .play-now-btn {
            width: 200px;
            @include gradient-border.gradient-border($gradient: createGradient.linearGradient(palette.$aquamarine), $time: 400ms, $border-radius: 7px);
            background-size: 150% 150%;
            border: none;
        
            span {
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: createGradient.linearGradient(palette.$aquamarine);
                cursor: inherit;
            }
        }
    }

    .link-group {
        @include display.flex($direction: column, $row: 5);
    }

    @media (orientation: landscape) {
        flex-direction: row;

        .title {
            order: 1;
            width: 30%;
        }

        .link-group {
            &:first-of-type {
                order: 0;
            }
            &:last-of-type {
                order: 2;
            }
        }
    }

    @media (orientation: landscape) and (max-width: 999px) {
        justify-content: space-between;
    }

    @media (orientation: landscape) and (min-width: 1000px) {
        justify-content: space-around;
    }
}